.password {
  width: 400px;
  height: 100px;

  background: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
}

.password .inputSettings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.inputSettings input {
  width: 340px;
  font-size: 22px;
  font-weight: bold;
  height: 36px;
  font-family: "MedievalSharp", cursive;
  letter-spacing: 2px;

  background-color: rgba(0, 0, 0, 0);
  color: white;
  outline: none;
  border: none;
}

.frame {
  width: 60px;
  height: 60px;
  position: relative;
  animation: mymove 20s infinite;
}
@keyframes mymove {
  0% {
    top: -30px;
    left: 0px;
    background: url("./../../assets/pharaon.svg") no-repeat;
    background-size: contain;
  }
  30% {
    top: -30px;
    left: 380px;
    background: url("./../../assets/pharaon.svg") no-repeat;
    background-size: contain;
  }
  50% {
    top: 70px;
    left: 380px;
    background: url("./../../assets/pharaon.svg") no-repeat;
    background-size: contain;
  }
  80% {
    top: 70px;
    left: -20px;
    background: url("./../../assets/pharaon.svg") no-repeat;
    background-size: contain;
  }
  100% {
    top: -30px;
    left: -20px;
    background: url("./../../assets/pharaon.svg") no-repeat;
    background-size: contain;
  }
}