.app {
  width: 100%;
  min-height: 100vh;

  font-family: "MedievalSharp", cursive;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("./assets/bg-img.jpg");
  background-size: contain;
}

h1 {
  font-size: 66px;
  text-shadow: 3px 3px 3px rgb(255, 215, 0);
}


